.hero-section{
  width:100%;
  min-height:100vh;
  background:
  linear-gradient(rgba(20,15,10,0.55),
  rgba(20,15,10,0.55)),
  url('images/hero1.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:80px 20px;
  position:relative;
  overflow:hidden;
}

.overlay{
  position:absolute;
  width:600px;
  height:600px;
  background:#c97b52;
  border-radius:50%;
  top:-250px;
  right:-180px;
  opacity:0.15;
  filter:blur(40px);
}

.hero-content{
  max-width:850px;
  text-align:center;
  position:relative;
  z-index:2;
  margin-top: 70px;
}

.mini-title{
  display:inline-block;
  padding:12px 24px;
  background:rgba(218, 174, 130, 0.363);
  border:1px solid rgba(255,255,255,0.15);
  backdrop-filter:blur(10px);
  color:#f3e6d8;
  border-radius:50px;
  font-size:14px;
  margin-bottom:28px;
  letter-spacing:1px;
}

.hero-content h1{
  font-size:78px;
  line-height:1.1;
  color:#ffffff;
  margin-bottom:30px;
  font-weight:700;
}

.hero-content p{
  font-size:18px;
  line-height:1.9;
  color:#f2e8de;
  max-width:700px;
  margin:auto;
  margin-bottom:45px;
}

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.primary-btn{
  text-decoration:none;
  background:#c97b52;
  color:#fff;
  padding:17px 36px;
  border-radius:50px;
  font-size:16px;
  transition:0.4s ease;
}

.primary-btn:hover{
  background:#ae6540;
}

.secondary-btn{
  text-decoration:none;
  border:1px solid rgba(255,255,255,0.4);
  color:#fff;
  padding:17px 36px;
  border-radius:50px;
  font-size:16px;
  backdrop-filter:blur(8px);
  transition:0.4s ease;
}

.secondary-btn:hover{
  background:#fff;
  color:#333;
}

@media(max-width:768px){

  .hero-content h1{
    font-size:48px;
  }

  .hero-content p{
    font-size:16px;
  }

  .hero-buttons{
    flex-direction:column;
    align-items:center;
  }

}


.studio-footer{
    width: 100%;
    background: #3d2b1f;
    color: #fff;
    padding-top: 60px;
}

.craft-footer{
    width: 100%;
    background: #3d2b1f;
    color: #fff;
    padding-top: 70px;
}

.footer-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    padding-bottom: 50px;
}

.footer-box h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.footer-logo img{
    width: 100px;
}

.footer-logo h2{
    font-size: 30px;
}

.footer-box p{
    color: #ddd;
    line-height: 1.8;
    margin-bottom: 10px;
}

.footer-box ul{
    list-style: none;
}

.footer-box ul li{
    margin-bottom: 14px;
}

.footer-box ul li a{
    text-decoration: none;
    color: #ddd;
    transition: 0.3s;
}

.footer-box ul li a:hover{
    color: #c58b5b;
    padding-left: 5px;
}

.footer-last{
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-policy-links{
    display: flex;
    gap: 20px;
}

.footer-policy-links a{
    text-decoration: none;
    color: #ddd;
    transition: 0.3s;
}

.footer-policy-links a:hover{
    color: #c58b5b;
}


@media(max-width:768px){

    .studio-footer,
    .craft-footer{
        padding-top: 50px;
    }

    .footer-container{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 45px;
        text-align: center;
        padding-bottom: 40px;
    }

    .footer-logo{
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .footer-logo img{
        width: 80px;
    }

    .footer-logo h2{
        font-size: 26px;
    }

    .footer-box h3{
        font-size: 22px;
        margin-bottom: 18px;
    }

    .footer-box p{
        font-size: 15px;
        line-height: 1.9;
    }

    .footer-box ul li{
        margin-bottom: 12px;
    }

    .footer-box ul li a{
        font-size: 15px;
    }

    .footer-last{
        flex-direction: column;
        text-align: center;
        padding: 18px 20px;
    }

    .footer-policy-links{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .footer-policy-links a{
        font-size: 14px;
    }

}

.services-section{
    padding:80px 8%;
    background:#f5ede3;
}

.services-section h2{
    text-align:center;
    font-size:45px;
    color:#5c3a21;
    margin-bottom:50px;
}

.service-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.service-card{
    background:#fff;
    padding:35px 25px;
    border-radius:20px;
    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.4s;
    cursor:pointer;
}

.service-card:hover{
    transform:translateY(-10px);
}

.service-card h3{
    font-size:28px;
    color:#8B5E3C;
    margin-bottom:15px;
}

.service-card p{
    font-size:17px;
    color:#666;
    line-height:1.7;
}


/* Mobile Responsive */

@media(max-width:768px){

.services-section{
    padding:60px 20px;
}

.services-section h2{
    font-size:35px;
}

.service-card{
    padding:25px;
}

.service-card h3{
    font-size:24px;
}

}

.service-details{
    padding:80px 8%;
    background:#f5ede3;

    display:flex;
    align-items:center;
    gap:50px;
}

.details-left{
    flex:1;
}

.details-left img{
    width:100%;
    height:500px;
    object-fit:cover;
    border-radius:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.details-right{
    flex:1;
}

.details-right h2{
    font-size:45px;
    color:#8B5E3C;
    margin-bottom:20px;
}

.details-right p{
    font-size:18px;
    color:#666;
    line-height:1.8;
    margin-bottom:30px;
}

.details-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.details-grid div{
    background:#fff;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.4s;
}

.details-grid div:hover{
    transform:translateY(-8px);
}

.details-grid h4{
    color:#8B5E3C;
    font-size:22px;
    margin-bottom:10px;
}

.details-grid p{
    margin:0;
    color:#555;
    font-size:16px;
}


/* Mobile Responsive */

@media(max-width:768px){

.service-details{
    flex-direction:column;
    padding:60px 20px;
}

.details-left img{
    height:300px;
}

.details-right h2{
    font-size:35px;
}

.details-grid{
    grid-template-columns:1fr;
}

}

.features{
    padding:80px 8%;
    background:#f5ede3;
}

.features h2{
    text-align:center;
    font-size:45px;
    color:#8B5E3C;
    margin-bottom:50px;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.feature-box{
    background:#fff;
    padding:35px 25px;
    border-radius:25px;
    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.4s;
    cursor:pointer;
}

.feature-box:hover{
    transform:translateY(-10px);
}

.feature-box h3{
    font-size:28px;
    color:#8B5E3C;
    margin-bottom:15px;
}

.feature-box p{
    font-size:17px;
    color:#666;
    line-height:1.7;
}


/* Mobile Responsive */

@media(max-width:768px){

.features{
    padding:60px 20px;
}

.features h2{
    font-size:35px;
}

.feature-box{
    padding:25px;
}

.feature-box h3{
    font-size:24px;
}

}
/* Testimonials */

.testimonials{
    padding:80px 8%;
    background:#f5ede3;
}

.testimonials h2{
    text-align:center;
    font-size:45px;
    color:#8B5E3C;
    margin-bottom:50px;
}

.review-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.review{
    background:#fff;
    padding:35px;
    border-radius:25px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.4s;
}

.review:hover{
    transform:translateY(-10px);
}

.review p{
    font-size:17px;
    color:#666;
    line-height:1.8;
    margin-bottom:20px;
}

.review h4{
    color:#8B5E3C;
    font-size:20px;
}



/* FAQ */

.faq{
    padding:80px 8%;
    background:#f5ede3;
}

.faq h2{
    text-align:center;
    font-size:45px;
    color:#8B5E3C;
    margin-bottom:50px;
}

.faq-box{
    background:#fff;
    padding:30px;
    border-radius:20px;

    margin-bottom:25px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.4s;
}

.faq-box:hover{
    transform:translateY(-5px);
}

.faq-box h4{
    font-size:22px;
    color:#8B5E3C;
    margin-bottom:12px;
}

.faq-box p{
    font-size:17px;
    color:#666;
    line-height:1.7;
}


/* Mobile Responsive */

@media(max-width:768px){

.testimonials,
.faq{
    padding:60px 20px;
}

.testimonials h2,
.faq h2{
    font-size:35px;
}

.review,
.faq-box{
    padding:25px;
}

}